<div id="header">
    <div class="header_main">
        <div class="logo"></div>
        <div class="nav">
            <ul>
                <li><a href="{:U('Index/index')}" class="selected">首页</a></li>
                <li><a href="#">广场</a></li>
                <li><a href="#">图片</a></li>
                <li><a href="#">找人</a></li>
            </ul>
        </div>
        <div class="person">
            <ul>
                <li><a href="#">个人中心</a></li>
                <li class="app">消息
                    <dl class="list">
                        <dd><a href="#">@我的</a></dd>
                        <dd><a href="#">收到的评论</a></dd>
                        <dd><a href="#">发出的评论</a></dd>
                        <dd><a href="#">私信</a></dd>
                        <dd><a href="#">系统消息</a></dd>
                        <dd><a href="#">发私信</a></dd>
                    </dl>
                </li>
                <li class="app">账号
                    <dl class="list">
                        <dd><a href="{:U('Setting/index')}">个人设置</a></dd>
                        <dd><a href="#">认证</a></dd>
                        <dd><a href="#">排行榜</a></dd>
                        <dd><a href="{:U('User/logout')}">退出>></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="" method="post">
                <input type="text" id="search" placeholder="输入搜索关键词">
                <a href="javascript:void(0)"></a>
            </form>
        </div>
    </div>
</div>